*::-webkit-input-placeholder {
	color: #808080;
	opacity: 1;
}
*:-moz-placeholder {
	color: #808080;
	opacity: 1;
}
*::-moz-placeholder {
	color: #808080;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #808080;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Gilroy';
	font-size: 18px;
	line-height: 150%;
	font-weight: 500;
	color: #808080;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 700;
}
.logo img {
	width: 187px;
}
.header__wrap {
	padding: 24px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu {
	margin-left: 33px;
	margin-right: 43px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.link-search,
.link-header,
.menu a {
	color: #fff;
}
.link-search span,
.link-header span,
.menu a {
	border-bottom: 1px transparent solid;
	transition: all 0.3s;
}
.link-search,
.link-header {
	display: inline-flex;
	align-items: center;
}
.link-search img,
.link-header img {
	margin-right: 8px;
}
.link-search {
	margin-left: 24px;
}
.link-search:hover span,
.link-header:hover span,
.menu a:hover {
	border-color: #fff;
}
.header__bottom {
	padding: 16px;
	border-radius: 64px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 15px 30px 0 rgba(41, 113, 170, 0.7);
	background: linear-gradient(129deg, #2d7dbf 0%, #4892d6 100%);
}
.header__buttons {
	display: flex;
	align-items: center;
}
.header__buttons .btn-main img {
	margin-right: 8px;
}
.btn-main.btn-main_page {
	background: #b51d1d;
}
.btn-main.btn-main_page:hover {
    background: #960000;
}
.header__buttons .btn-main {
	height: 44px;
	padding: 0 20px;
	margin-right: 16px;
}
.header__buttons .btn-main:last-child {
	margin-right: 0;
}

.row {
	margin: 0 -20px;
}
.row > div {
	padding: 0 20px;
}
.billbord {
	padding-top: 215px;
	min-height: 780px;
	color: #fff;
	background-image: url(../img/bg_billbord.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.billbord__name {
	font-size: 16px;
	line-height: 19px;
	padding: 10px 20px;
	margin-bottom: 16px;
	border: 1px solid #fff;
	border-radius: 64px;
	display: inline-block;
}
.title-big {
	font-size: 56px;
	line-height: 67px;
	font-weight: 600;
}
.billbord__descr {
	padding-top: 16px;
	margin-bottom: 32px;
	max-width: 554px;
}
.form-main {
	max-width: 445px;
}
.line-form {
	position: relative;
	display: block;
	width: 100%;
}
.item-form input {
	height: 67px;
	padding: 0 24px;
	padding-right: 160px;
	font-size: 18px;
	font-weight: 500;
	color: #808080;
	width: 100%;
	border-radius: 64px;
	border: none;
	font-family: 'Gilroy';
}
.btn-main {
	height: 51px;
	padding: 0 32px;
	font-size: 16px;
	color: #fff;
	font-weight: 600;
	font-family: 'Gilroy';
	border: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 64px;
	text-align: center;
	background: #1D6CB5;
	cursor: pointer;
}
.btn-main:hover {
	background: #044f95;
}
.line-form .btn-main {
	top: 8px;
	right: 8px;
	position: absolute;
}
.item-question__content ul,
.link-page,
.header,
.descr-form {
	font-size: 16px;
	line-height: 19px;
}
.descr-form {
	margin-top: 16px;
}
.image-billbord {
	margin-top: 150px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.about {
	padding: 80px 0;
}
.title-page {
	font-size: 56px;
	line-height: 67px;
	color: #1C1E1E;
	font-weight: 600;
}
.about .title-section {
	max-width: 427px;
}
.text-about p {
	margin-bottom: 16px;
}
.text-about p:last-child {
	margin-bottom: 0;
}
.text-about {
	max-width: 543px;
}
.item-about {
	height: 290px;
	padding: 24px;
	border-radius: 24px;
	box-shadow: 0px 15px 30px rgba(208, 208, 208, 0.25);
	background: #fff;
	position: relative;
	display: block;
	overflow: hidden;
}
.item-about:hover {
	box-shadow: 0px 15px 30px rgba(208, 208, 208, 0.5);
}
.title-small {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	color: #1C1E1E;
}
.item-about .title-small {
	display: block;
}
.item-about__image {
	bottom: 0;
	right: 0;
	position: absolute;
}
.about__head {
	margin-bottom: 48px;
}

.section-bonus {
	color: #fff;
	background-image: url(../img/bg_bonus.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-section {
	font-size: 48px;
	line-height: 57px;
	font-weight: 600;
	color: #1C1E1E;
}
.section-bonus .title-section {
	margin-bottom: 16px;
	font-weight: 700;
	color: #fff;
}
.image-bonus {
	margin: -11px 0;
}
.section-bonus p {
	max-width: 502px;
}
.btn-main.btn-main_default {
	color: #1D6CB5;
	background: #fff;
}
.section-bonus .btn-main {
	margin-top: 32px;
}
.btn-main.btn-main_default:hover {
    background: #eaeaea;
}

.services {
	padding-bottom: 160px;
}
.row_services > div {
	margin-bottom: 20px;
}
.row.row_services {
	margin-bottom: -30px;
}
.item-service {
	min-height: 469px;
	padding: 24px;
	border-radius: 24px;
	background: #fff;
	box-shadow: 0px 15px 30px rgba(208, 208, 208, 0.25);
	display: block;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: all 0.5s;
}
.title-middle {
	font-size: 32px;
	line-height: 38px;
	font-weight: 600;
	color: #1C1E1E;
	display: block;
}
.item-service .title-middle {
	margin-bottom: 16px;
}
.item-service__text {
	display: block;
	color: #808080;
}
.item-service__image {
	bottom: 24px;
	right: 0;
	position: absolute;
	z-index: -1;
}
.item-service::after {
	position: absolute;
	display: block;
	content: " ";
	width: 64px;
	height: 64px;
	bottom: 24px;
	left: 24px;
	border-radius: 50%;
	background-image: url(../img/arrow_main.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #1D6CB5;
	transition: all 0.5s;
}
.item-service:hover:after {
	background-color: #044f95;
}
.item-service:hover {
	box-shadow: 0px 15px 30px rgba(208, 208, 208, 0.6);
}
.services .title-section {
	padding-top: 80px;
	padding-bottom: 48px;
	margin: 0;
}

.section-calculator {
	padding-bottom: 80px;
}
.subscribe-main,
.calculator-lead {
	padding-left: 40px;
	border-radius: 24px;
	color: #fff;
	background-image: url(../img/bg_calculator_lead.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.subscribe-main__image,
.calculator-lead__image {
	margin-top: -89px;
	margin-left: -10px;
	margin-bottom: 19px;
}
.subscribe-main .title-middle,
.calculator-lead .title-middle {
	padding-top: 40px;
	margin-bottom: 16px;
	color: #fff;
}
.subscribe-main .btn-main,
.calculator-lead .btn-main {
	margin-top: 24px;
}

.reviews {
	padding: 80px 0;
	background: #F6F6F6;
}
.reviews .title-section {
	max-width: 745px;
	margin-bottom: 24px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	width: 22px;
	height: 22px;
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
	margin-right: 6px;
	position: relative;
}
.rating__item::after,
.rating__item::before {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-image: url(../img/star_active.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.rating__item::after {
	background-image: url(../img/star_half.svg);
}
.rating__item:last-child {
	margin-right: 0;
}
.rating_1 > .rating__item:nth-child(1)::before {
	opacity: 1;
}
.rating_2 > .rating__item:nth-child(-n+2)::before {
	opacity: 1;
}
.rating_3 > .rating__item:nth-child(-n+3)::before {
	opacity: 1;
}
.rating_4 > .rating__item:nth-child(-n+4)::before {
	opacity: 1;
}
.rating_5 > .rating__item:nth-child(-n+5)::before {
	opacity: 1;
}

.rating_1_5 > .rating__item:nth-child(-n+1)::before {
	opacity: 1;
}
.rating_2_5 > .rating__item:nth-child(-n+2)::before {
	opacity: 1;
}
.rating_3_5 > .rating__item:nth-child(-n+3)::before {
	opacity: 1;
}
.rating_4_5 > .rating__item:nth-child(-n+4)::before {
	opacity: 1;
}

.rating_0_5 > .rating__item:nth-child(1)::after {
	opacity: 1;
}
.rating_1_5 > .rating__item:nth-child(2)::after {
	opacity: 1;
}
.rating_2_5 > .rating__item:nth-child(3)::after {
	opacity: 1;
}
.rating_3_5 > .rating__item:nth-child(4)::after {
	opacity: 1;
}
.rating_4_5 > .rating__item:nth-child(5)::after {
	opacity: 1;
}
.reviews__rating {
	margin-bottom: 48px;
	font-weight: 600;
	color: #1C1E1E;
	display: flex;
	align-items: center;
}
.reviews__rating p {
	margin-left: 16px;
	margin-bottom: 0;
}
.slider-services .slick-track,
.slider-news .slick-track,
.slider-reviews .slick-track {
	display: flex !important;
}
.slider-services .slick-slide,
.slider-news .slick-slide,
.slider-reviews .slick-slide {
	padding: 0 20px;
	height: inherit !important;
}
.slider-services .slick-list,
.slider-news .slick-list,
.slider-reviews .slick-list {
	margin: 0 -20px;
}
.item-review {
	padding: 24px;
	border-radius: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #fff;
	min-height: 100%;
}
.item-review__head {
	margin-bottom: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.title-min {
	font-weight: 600;
	color: #1C1E1E;
}
.item-review__date {
	padding-top: 50px;
	margin-top: auto;
	text-align: right;
	width: 100%;
	color: #1C1E1E;
}
.slider-news:not(.slick-initialized) > li:not(:first-child),
.slider-reviews:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slick-dots {
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}
.slick-dots li {
	width: 8px;
	height: 4px;
}
.slick-dots li button {
	width: 8px;
	height: 4px;
	background: #D7D7D7;
	border-radius: 4px;
	padding: 0;
	border: none;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background: #1D6CB5;
}
.slick-dots li button::before {
	display: none;
}
.slick-dots li.slick-active,
.slick-dots li.slick-active button {
	width: 32px;
}
.slick-arrow {
	width: 64px;
	height: 64px;	
	bottom: 0;
	right: 0;
	top: auto;
	left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1D6CB5;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3s;
	transform: none;
}
.slick-arrow::before {
	display: none;
}
.slick-arrow:hover {
	background: #044f95;
}
.slick-arrow.slick-disabled {
	background-color: #D7D7D7;
}
.slick-prev {
	right: 88px;
}
.slider-news,
.slider-reviews {
	padding-bottom: 112px;
}
.item-service.item-service_small {
	min-height: 262px;
}
.item-service_small .item-service__image {
	bottom: 0;
	right: 0;
}
.item-service_small .title-small {
	max-width: 350px;
	display: block;
}
.services.services_page {
	padding-bottom: 80px;
}

.news {
	padding: 80px 0;
	background: #F6F6F6;
}
.head-section {
	margin-bottom: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.head-section .btn-main {
	flex: none;
}
.head-section .title-section {
	max-width: 695px;
}
.item-news {
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100%;
	background-color: #fff;
	border-radius: 24px;
}
.item-news .title-small {
	margin-bottom: 16px;
	display: block;
	color: #1C1E1E;
}
.item-news__text p {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.link-page {
	color: #1D6CB5;
	border-bottom: 1px transparent solid;
	display: inline-block;
}
.link-page:hover {
	border-color: #1D6CB5;
}
.item-news .link-page {
	margin-top: 24px;
}
.item-news__text {
	padding-bottom: 24px;
}
.item-news__image {
	height: 400px;
	border-radius: 24px;
	margin-top: auto;
	width: 100%;
	display: block;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 24px;
}
.section-subscribe {
	padding: 80px 0;
}
.subscribe-main__image {
	margin-top: -48px;
}
.subscribe-main .btn-main img {
	margin-right: 11px;
}

.questions {
	padding: 80px 0;
	background: #F6F6F6;
}
.questions__head {
	margin-bottom: 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.questions__info {
	max-width: 430px;
}
.questions__info .btn-main {
	margin-top: 24px;
}
.questions__head .title-section {
	max-width: 440px;
}
.item-question {
	margin-bottom: 40px;
	border-radius: 24px;
	background: #fff;
}
.item-question:last-child {
	margin-bottom: 0;
}
.item-question__head {
	padding: 14px 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-question__content {
	padding: 22px 24px;
	display: none;
}
.item-question__content strong {
	font-weight: 600;
	color: #1C1E1E;
}
.item-question__content ul li {
	padding-left: 18px;
	position: relative;
}
.item-question__content ul li::before {
	position: absolute;
	top: 0;
	left: 5px;
	content: "•";
}
.item-question__content ul {
	margin: 16px 0;
}
.item-question__content ul,
.item-question__content p {
	max-width: 950px;
}
.item-question__arrow {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	flex: none;
	background-color: #1D6CB5;
	background-image: url(../img/chevron_arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
}
.item-question.active .item-question__arrow {
	transform: rotate(180deg);
}
.item-question__head .title-small {
	max-width: 850px;
}

.contacts {
	padding: 80px 0;
}
.contacts .title-section {
	margin-bottom: 48px;
}
#map {
	height: 420px;
	border-radius: 24px;
	width: 100%;
	overflow: hidden !important;
	background-color: #F6F6F6;
}
.contacts-block {
	padding: 24px;
	min-height: 100%;
	border-radius: 24px;
	box-shadow: 0px 15px 30px rgba(208, 208, 208, 0.25);
}
.contacts-block .title-middle {
	margin-bottom: 16px;
}
.contacts-block p {
	margin-bottom: 24px;
	max-width: 400px;
}
.list-contacts li {
	margin-bottom: 16px;
}
.list-contacts li:last-child {
	margin-bottom: 0;
}
.item-contact {
	font-size: 20px;
	color: #1C1E1E;
	display: inline-flex;
	align-items: center;
}
.item-contact__icon {
	width: 48px;
	height: 48px;
	margin-right: 16px;
	background-color: #1D6CB5;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	border-radius: 50%;
}
.item-contact__icon img {
	max-width: 100%;
	max-height: 100%;
}

.consultation {
	padding: 80px 0;
}
.consultation-block {
	color: #fff;
}
.consultation-block {
	border-radius: 24px;
	color: #fff;
	background-image: url(../img/bg_calculator_lead.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.consultation-block__image {
	margin-right: 28px;
	margin-top: -48px;
	margin-bottom: -40px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.consultation-block .title-middle {
	padding-top: 40px;
	margin-bottom: 16px;
	color: #fff;
}
.consultation-block *::-webkit-input-placeholder {
	color: #D7D7D7;
}
.consultation-block *:-moz-placeholder {
	color: #D7D7D7;
}
.consultation-block *::-moz-placeholder {
	color: #D7D7D7;
}
.consultation-block *:-ms-input-placeholder {
	color: #D7D7D7;
}
.consultation-block__right {
	margin-left: -40px;
}
.consultation-block .form-main {
	margin-top: 24px;
}
.checkbox {
	font-size: 13px;
	margin-top: 17px;
	line-height: 15px;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 4px 0 0 25px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
	border-radius: 4px;
	border: 1px solid #1D6CB5;
	background: transparent;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
    top: 2px;
    left: 0px;
    width: 16px;
    height: 16px;
	background-image: url(../img/check.svg);
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:before {
	background-color: #1D6CB5;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}

.footer {
	padding: 48px 0;
	font-size: 16px;
	line-height: 150%;
	color: #fff;
	background: #1C1E1E;
}
.footer-contact .title-small {
	display: inline-block;
	color: #fff;
}
.footer-contact__descr {
	margin-top: 4px;
	color: #808080;
}
.footer-contact {
	margin-bottom: 24px;
}
.footer__nav li {
	margin-bottom: 8px;
}
.footer__nav a {
	border-bottom: 1px transparent solid;
	color: #fff;
}
.footer__title {
	font-size: 24px;
	margin-bottom: 16px;
	line-height: 29px;
	font-weight: 600;
}
.footer__text {
	margin-top: 40px;
}
.footer__bottom {
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid #808080;
}
.footer__bottom a {
	color: #1D6CB5;
	border-bottom: 1px #1D6CB5 solid;
}
.footer__bottom a:hover {
	border-color: transparent;
}
.footer__contacts {
	max-width: 436px;
}
.footer__contacts .row {
	margin: 0 -5px;
}
.footer__contacts .row > div {
	padding: 0 5px;
}
.list-socials {
	display: flex;
	align-items: center;
}
.list-socials li {
	margin-right: 24px;
}
.list-socials li:last-child {
	margin-right: 0;
}
.list-socials a {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.footer .list-socials {
	margin-top: 39px;
}
.slider-services .slick-slide {
	padding: 20px;
	padding-bottom: 50px;
}
.slider-services .slick-list {
	margin: -20px;
	margin-bottom: -50px;
}
.buttons-fixed {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
    width: 56px;
    height: 56px;
    padding-top: 14px;
	margin-top: -28px;
	margin-bottom: 2px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	border-radius: 50%;
	background: #1D6CB5;
	z-index: 20;
	display: none;
	flex: none;
	cursor: pointer;
	border: 4px solid #fff;
	background-image: url(../img/sandwich.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 20px;
	height: 1px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 8px;
	width: 20px;
	height: 1px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 12px;
	width: 20px;
	height: 1px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 7px;
	transform: rotate(-45deg); 
}
.search-modal {
	padding-top: 168px;
	padding-bottom: 40px;
	top: 0;
	left: 0;
	width: 100%;
	z-index:1000;
	position: fixed;
	height: 100%;
	background-image: url(../img/bg_search.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: auto;
	color: #fff;
	display: none;
}
.search-modal__head {
	margin-bottom: 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.search-modal__title {
	font-size: 40px;
	line-height: 48px;
	font-weight: 600;
}
.search-modal__close {
	width: 32px;
	height: 32px;
	background-image: url(../img/close2.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	transition: all 0.3s;
}
.search-modal__close:hover {
	opacity: 0.8;
}
.form-search input {
	height: 53px;
	padding: 0 16px;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	font-family: 'Gilroy';
	background: #4892d6;
	border-radius: 24px;
	width: 100%;
	border: none;
}
.form-search *::-webkit-input-placeholder {
	color: #fff;
}
.form-search *:-moz-placeholder {
	color: #fff;
}
.form-search *::-moz-placeholder {
	color: #fff;
}
.form-search *:-ms-input-placeholder {
	color: #fff;
}
.form-search__recomendation {
	padding-top: 48px;
}
.form-search__recomendation .title-small {
	margin-bottom: 24px;
	color: #fff;
}
.form-search__recomendation li {
	margin-bottom: 16px;
}
.form-search__recomendation li a {
	color: #fff;
	border-bottom: 1px transparent solid;
}
.form-search__recomendation li a:hover {
	border-color: #fff;
}